<!doctype html>
<html lang="en">
  <head>
    {% include "basehead.html" %} {% block head %}{% endblock %}
  </head>
  <body>
    <header>
      <nav class="nav">
        <a
          class="nav__link {% if page.url == '/' %}nav__link--active{% endif %}"
          href="/"
        >
          Home
        </a>

        <a
          class="nav__link {% if page.url.startsWith('/blog/') %}nav__link--active{% endif %}"
          href={{"/blog/" | url}}
        >
          Blog
        </a>

        <a
          class="nav__link {% if page.url.startsWith('/project/') %}nav__link--active{% endif %}"
          href={{"/project/" | url}}
        >
          Project
        </a>

        <a
          class="nav__link {% if page.url.startsWith('/gallery/') %}nav__link--active{% endif %}"
          href={{"/gallery/" | url}}
        >
          Gallery
        </a>
      </nav>
    </header>

    <div class="note-paper"></div>
    <main>
      <div class="content">{% block content %} {% endblock %}</div>
    </main>

    <footer>
      <div class="lace"></div>
      <p>Lorem ipsum</p>
      <div class="lace lace--flip"></div>
    </footer>
  </body>
</html>
