{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/css/blog.css" />
{% endblock %} {% block content %}

<div class="tag-list">
  {% for tagName in collections.tagList %}
  <a
    class="tag{% if tagName == tag %} tag--active{% endif %}"
    href="/blog/tag/{{ tagName | slugify }}"
  >
    {{ tagName }}
  </a>
  {% endfor %}
</div>

{% if type == "sticky-note" %}

<div class="sticky-notes">{{ content | safe }}</div>

{% else %}

<article class="markdown">{{ content | safe }}</article>

{% endif %} {% endblock %}
