{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/css/post.css" />
{% endblock %} {% block content %}
<article class="post__content">
  <h1>{{ title }}</h1>
  <p><time>{{ date }}</time></p>

  <ul>
    {% for tag in tags %}
    <li>
      <a href="/blog/tag/{{  tag | slugify  }}">{{tag}}</a>
    </li>
    {% endfor %}
  </ul>

  {% if type == "sticky-note" %}
  <div class="sticky-notes">{{ content | safe }}</div>
  {% else %}
  <article class="markdown">{{ content | safe }}</article>
  {% endif %}
</article>
{% endblock %}
