{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href={{"/css/post.css" | url}} />
{% endblock %} {% block content %}
<article class="post__content">
  <h1>{{ title }}</h1>
  <p><time>{{ date | formatDate }}</time></p>

  {% from "components/TagList.njk" import TagList %}
  {{ TagList(tags, page.url) }}


  {% if type == "sticky-note" %}
  <div class="sticky-notes">{{ content | safe }}</div>
  {% else %}
  <article class="markdown">{{ content | safe }}</article>
  {% endif %}
</article>
{% endblock %}
