.post__content {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.sticky-notes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1.5rem;
}

.sticky-notes p {
  margin: 0;
  padding: 1rem;

  background: var(--background-color);
  border: 1px solid var(--shadow-color);
  box-shadow: 4px 4px 0 var(--shadow-color);
}
